<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	    <extension
         point="org.eclipse.cdt.core.templates">
      <template
            filterPattern=".*g[c\+][c\+]"
            id="com.lembed.lite.studio.project.crosslibrary.cc.staticlib"
            location="$nl$/templates/library_cc_project/template.xml"
            pagesAfterTemplateSelectionProvider="com.lembed.lite.studio.project.crosslibrary.TemplateProvider"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.staticLib">
      </template>
      <template
            filterPattern=".*g[c\+][c\+]"
            id="com.lembed.lite.studio.project.crosslibrary.cc.sharedlib"
            location="$nl$/templates/library_cc_project/template.xml"
            pagesAfterTemplateSelectionProvider="com.lembed.lite.studio.project.crosslibrary.TemplateProvider"
            projectType="org.eclipse.cdt.build.core.buildArtefactType.sharedLib">
      </template>
   </extension>
   <extension
         point="org.eclipse.cdt.core.templateAssociations">
      <template
             id="com.lembed.lite.studio.project.crosslibrary.cc.staticlib">
         <toolChain
             id="com.lembed.lite.studio.managedbuild.cross.toolchain.base">
         </toolChain>
      </template>
      <template
            id="com.lembed.lite.studio.project.crosslibrary.cc.sharedlib">
         <toolChain
               id="com.lembed.lite.studio.managedbuild.cross.toolchain.base">
         </toolChain>
      </template>
   </extension>

   <extension
         point="org.eclipse.cdt.core.templateProcessTypes">
      <processType
            name="CreateStaticLibrary"
            processRunner="com.lembed.lite.studio.project.crosslibrary.CreateStaticLibrary">
         <simple
               name="projectName">
         </simple>
         <simple
               name="compiler">
         </simple>
         <simple
               name="output">
         </simple>
         <simple
               name="toolChainAdapter">
         </simple>
         <simple
               name="lastStep">
         </simple>
         <simple
               name="includePath">
         </simple>
      </processType>
      <processType
            name="CreateSharedLibrary"
            processRunner="com.lembed.lite.studio.project.crosslibrary.CreateSharedLibrary">
         <simple
               name="projectName">
         </simple>
         <simple
               name="compiler">
         </simple>
         <simple
               name="output">
         </simple>
         <simple
               name="toolChainAdapter">
         </simple>
         <simple
               name="lastStep">
         </simple>
         <simple
               name="includePath">
         </simple>
      </processType>
   </extension>
</plugin>
