<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationType"
            modes="debug,run"
            name="%launchConfig.jlink.name"
            public="true"/>
   </extension>

   <!-- LaunchConfigurationDelegate.java is where fun starts -->
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.lembed.lite.studio.debug.gdbjtag.jlink.dsf.LaunchConfigurationDelegate"
            delegateDescription="%launchDelegate.jtagDsf.description"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.core.dsfLaunchDelegate"
            modes="debug,run"
            name="%launchDelegate.jtagDsf.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationType">
      </launchDelegate>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationType"
            icon="icons/obj16/debugger.gif"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.lembed.lite.studio.debug.gdbjtag.jlink.ui.TabGroupLaunchConfiguration"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationTabGroup"
            type="com.lembed.lite.studio.debug.gdbjtag.jlink.launchConfigurationType"/>
   </extension>

   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="com.lembed.lite.studio.debug.gdbjtag.jlink.JTagDevice"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.core.jtagdevice"
            name="%JTagDevice.generic.name">
      </device>
   </extension>

   <!-- legacy from early versions -->
   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="com.lembed.lite.studio.debug.gdbjtag.jlink.JTagDevice"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.core.jtagdevice.compat"
            name="J-Link">
      </device>
   </extension>

   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to J-Link installation folder" 
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.jlink.VariableInitializer" 
            name="jlink_path" />
   </extension>
   
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Name of the J-Link GDB server executable"
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.jlink.VariableInitializer"
            name="jlink_gdbserver"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lembed.lite.studio.debug.gdbjtag.jlink.DefaultPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="com.lembed.lite.studio.debug.gdbjtag.jlink.preferences.JlinkPage"
            id="com.lembed.lite.studio.debug.gdbjtag.jlink.preferencePage"
            name="%preferences.J-Link/Trace">
      </page>
   </extension>
       <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.lembed.lite.studio.debug.gdbjtag.emulator.launchConfigurationType"
            modes="debug, run"
            name="%launchConfig.emulator.name"
            public="true"/>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.lembed.lite.studio.debug.gdbjtag.emulator.dsf.LaunchConfigurationDelegate"
            delegateDescription="%launchDelegate.jtagDsf.description"
            id="com.lembed.lite.studio.debug.gdbjtag.emulator.core.dsfLaunchDelegate"
            modes="debug,run"
            name="%launchDelegate.jtagDsf.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.lembed.lite.studio.debug.gdbjtag.emulator.launchConfigurationType">
      </launchDelegate>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.lembed.lite.studio.debug.gdbjtag.emulator.launchConfigurationType"
            icon="icons/obj16/debugger.gif"
            id="com.lembed.lite.studiot.debug.gdbjtag.emulator.launchConfigurationTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.lembed.lite.studio.debug.gdbjtag.emulator.ui.TabGroupLaunchConfiguration"
            id="com.lembed.lite.studio.debug.gdbjtag.emulator.launchConfigurationTabGroup"
            type="com.lembed.lite.studio.debug.gdbjtag.emulator.launchConfigurationType"/>
   </extension>

   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="com.lembed.lite.studio.debug.gdbjtag.emulator.JTagDevice"
            id="com.lembed.lite.studio.debug.gdbjtag.emulator.core.jtagdevice"
            name="%JTagDevice.generic.name">
      </device>
   </extension>

   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to emulator installation folder"
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.device.VariableInitializer"
            name="emulator_path" />
   </extension>
   
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Name of the emulator executable"
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.device.VariableInitializer"
            name="emulator_executable" />
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="com.lembed.lite.studio.debug.gdbjtag.emulator.preferences.EmulatorPage"
            id="com.lembed.lite.studio.debug.gdbjtag.emulator.preferencePage"
            name="%preferences.emulator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lembed.lite.studio.debug.gdbjtag.device.DefaultPreferenceInitializer">
      </initializer>
   </extension>
   
   
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="%runCategory.name"
            description="%runCategory.description"
            id="com.lembed.lite.studio.debug.gdbjtag.restart.commands.category">
      </category>
      <command
            categoryId="com.lembed.lite.studio.debug.gdbjtag.restart.commands.category"
            defaultHandler="com.lembed.lite.studio.debug.gdbjtag.restart.RestartCommandHandler"
            description="%ActionDefinition.restart.description"
            id="com.lembed.lite.studio.debug.gdbjtag.restart.commands.restartCommand"
            name="%ActionDefinition.restart.name">
      </command>
   </extension>
 
   
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.lembed.lite.studio.debug.gdbjtag.restart.Startup">
      </startup>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.lembed.lite.studio.debug.gdbjtag.restart.commands.restartCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?endof=stepGroup">
            <command
                  commandId="com.lembed.lite.studio.debug.gdbjtag.restart.commands.restartCommand"
                  disabledIcon="icons/dlcl16/restart_co.gif"
                  icon="icons/elcl16/restart_co.gif"
                  id="com.lembed.lite.studio.debug.gdbjtag.restart.menus.restartCommand"
                  mnemonic="S">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.debug.ui.DebugView?after=additions">
            <command
                  commandId="com.lembed.lite.studio.debug.gdbjtag.restart.commands.restartCommand"
                  disabledIcon="icons/dlcl16/restart_co.gif"
                  icon="icons/elcl16/restart_co.gif"
                  id="com.lembed.lite.studio.debug.gdbjtag.restart.toolbars.restartCommand"
                  tooltip="%restartButton.tooltip">
            </command>
      </menuContribution>
   </extension>
   
     <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationType"
            modes="debug,run"
            name="%launchConfig.llink.name"
            public="true"/>
   </extension>

   <!-- LaunchConfigurationDelegate.java is where fun starts -->
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.lembed.lite.studio.debug.gdbjtag.llink.dsf.LaunchConfigurationDelegate"
            delegateDescription="%launchDelegate.jtagDsf.description"
            id="com.lembed.lite.studio.debug.gdbjtag.llink.core.dsfLaunchDelegate"
            modes="debug,run"
            name="%launchDelegate.jtagDsf.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationType">
      </launchDelegate>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationType"
            icon="icons/obj16/debugger.gif"
            id="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.lembed.lite.studio.debug.gdbjtag.llink.ui.TabGroupLaunchConfiguration"
            id="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationTabGroup"
            type="com.lembed.lite.studio.debug.gdbjtag.llink.launchConfigurationType"/>
   </extension>

   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="com.lembed.lite.studio.debug.gdbjtag.llink.LinkDevice"
            id="com.lembed.lite.studio.debug.gdbjtag.llink.LinkDevice"
            name="%JTagDevice.generic.name">
      </device>
   </extension>

   <!-- legacy from early versions -->

   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to llink installation folder" 
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.llink.VariableInitializer" 
            name="l_link_path" />
   </extension>
   
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Name of the L-Link GDB server executable"
            initializerClass="com.lembed.lite.studio.debug.gdbjtag.llink.VariableInitializer"
            name="l_link_gdbserver"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.lembed.lite.studio.debug.gdbjtag.llink.DefaultPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.debug.ui.DebugPreferencePage"
            class="com.lembed.lite.studio.debug.gdbjtag.llink.preferences.LLinkPage"
            id="com.lembed.lite.studio.debug.gdbjtag.llink.preferencePage"
            name="%preferences.llink">
      </page>
   </extension>
</plugin>
