<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.panda.logicanalyzer.ui.pipelineElementConfigurationProvider">
      <provider
            class="org.panda.logicanalyzer.deviceintegration.ui.internal.DeviceDataSourceConfigurationProvider"
            id="org.panda.logicanalyzer.deviceintegration.core.deviceDataSourceFactory">
      </provider>
   </extension>

</plugin>
