<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.lembed.lite.studio.device.category"
            name="%PackManager.name">
      </category>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.pack.ui.views.DevicesView"
            icon="icons/packInstaller.gif"
            id="com.lembed.lite.studio.device.pack.ui.views.devicesView"
            name="%PacksView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.pack.ui.views.DevicesView"
            icon="icons/chip.png"
            id="com.lembed.lite.studio.device.pack.ui.views.DevicesView"
            name="%DevicesView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.pack.ui.views.BoardsView"
            icon="icons/board.png"
            id="com.lembed.lite.studio.device.pack.ui.views.BoardsView"
            name="%BoardsView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.pack.ui.views.ExamplesView"
            icon="icons/cmsisExample.png"
            id="com.lembed.lite.studio.device.pack.ui.views.ExamplesView"
            name="%ExamplesView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.pack.ui.views.PackPropertyView"
            icon="icons/details.gif"
            id="com.lembed.lite.studio.device.pack.ui.views.PackPropertyView"
            name="%PackPropertiesView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.refclient.ui.InstalledPackView"
            icon="icons/packages.png"
            id="com.lembed.lite.studio.device.refclient.ui.InstalledPackView"
            name="%AllPacksView.name">
      </view>
      <view
            category="com.lembed.lite.studio.device.category"
            class="com.lembed.lite.studio.device.refclient.ui.DeviceTreeView"
            icon="icons/device.gif"
            id="com.lembed.lite.studio.device.refclient.ui.DeviceTreeView"
            name="%AllInstalledView.name"
            restorable="true">
      </view>
   </extension>
      <extension
         point="com.lembed.lite.studio.device.core.PackInstaller">
      <deviceInstaller
            Description="Provides reference implementation of device installer functionality"
            class="com.lembed.lite.studio.device.pack.CpPackInstaller"
            id="com.lembed.lite.studio.device.installer.CpPackInstaller"
            name="Default CMSIS device installer ">
      </deviceInstaller>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.lembed.lite.studio.device.pack.ui.perspectives.PackManagerPerspective"
            icon="icons/packInstaller.gif"
            id="com.lembed.lite.studio.device.pack.ui.perspectives.devicemanager"
            name="%PackManagerPerspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.lembed.lite.studio.device.installer.toolbar.main.deviceInstallerToolbar"
               label="%PackManagerToolbar.label">
            <command
                  commandId="com.lembed.lite.studio.device.installer.commands.updateCommand"
                  icon="icons/check4Update.gif"
                  label="%UpdateCommand.label"
                  style="push"
                  tooltip="%UpdateCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.lembed.lite.studio.device.installer.ui.perspectives.devicemanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.lembed.lite.studio.device.installer.commands.importdeviceCommand"
                  icon="icons/rteUnpack.png"
                  label="%ImportCommand.label"
                  style="push"
                  tooltip="%ImportCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.lembed.lite.studio.device.installer.ui.perspectives.devicemanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.lembed.lite.studio.device.installer.commands.reloadCommand"
                  icon="icons/refresh_nav.gif"
                  label="%ReloadCommand.label"
                  style="push"
                  tooltip="%ReloadCommand.tooltip">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.lembed.lite.studio.device.installer.ui.perspectives.devicemanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.lembed.lite.studio.device.installer.commands.importFolderdevicesCommand"
                  icon="icons/import_folder.gif"
                  label="Import devices from Folder"
                  style="push"
                  tooltip="Import devices from Folder">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeWorkbenchWindow.activePerspective">
                     <equals
                           value="com.lembed.lite.studio.device.installer.ui.perspectives.devicemanager">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.lembed.lite.studio.device.installer.commands"
            name="%PackManagerCommands.name">
      </category>
      <command
            categoryId="com.lembed.lite.studio.device.installer.commands"
            id="com.lembed.lite.studio.device.installer.commands.updateCommand"
            name="%UpdateCommand.name">
      </command>
      <command
      		categoryId="com.lembed.lite.studio.device.installer.commands"
            id="com.lembed.lite.studio.device.installer.commands.importdeviceCommand"
            name="%ImportCommand.name">
      </command>
      <command
            id="com.lembed.lite.studio.device.installer.commands.reloadCommand"
            name="%ReloadCommand.name">
      </command>
      <command
            categoryId="com.lembed.lite.studio.device.installer.commands"
            id="com.lembed.lite.studio.device.installer.commands.importFolderdevicesCommand"
            name="Import devices from Folder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.lembed.lite.studio.device.pack.ui.handlers.UpdatePacksHandler"
            commandId="com.lembed.lite.studio.device.installer.commands.updateCommand">
      </handler>
      <handler
            class="com.lembed.lite.studio.device.pack.ui.handlers.ImportPacksHandler"
            commandId="com.lembed.lite.studio.device.installer.commands.importdeviceCommand">
      </handler>
      <handler
            class="com.lembed.lite.studio.device.pack.ui.handlers.ReloadPacksHandler"
            commandId="com.lembed.lite.studio.device.installer.commands.reloadCommand">
      </handler>
      <handler
            class="com.lembed.lite.studio.device.pack.ui.handlers.ImportFolderPacksHandler"
            commandId="com.lembed.lite.studio.device.installer.commands.importFolderdevicesCommand">
      </handler>
   </extension>
 <extension
       point="com.lembed.lite.studio.device.core.EnvironmentProvider">
    <EnvironmentProvider
          class="com.lembed.lite.studio.device.refclient.RefClientEnvironmentProvider"
          id="com.lembed.lite.studio.device.refclient.EnvironmentProvider"
          name="RefClient">
    </EnvironmentProvider>
 </extension>

</plugin>
