<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.lembed.unit.test.fun.FunView"
            id="com.lembed.unit.test.fun.view1"
            name="name"
            restorable="true">
      </view>
   </extension>

</plugin>
