<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!-- https://dzone.com/articles/short-tutorial-introwelcome -->
<!--
  <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.lembed.lite.studio.rcp.ui.Application">
         </run>
      </application>
   </extension>
   -->
   <extension
         id="com.lembed.lite.studio.rcp.ui.SplashHandler"
         name="litestudio"
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.lembed.lite.studio.rcp.ui.SplashHandler"
            id="com.lembed.lite.studio.rcp.ui.SplashHandler">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.lembed.lite.studio.rcp.branding.product"
            splashId="com.lembed.lite.studio.rcp.ui.SplashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <introProductBinding
            introId="org.eclipse.ui.intro.universal"
            productId="com.lembed.lite.studio.rcp.branding.product">
      </introProductBinding>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.lembed.lite.studio.rcp.ui.introConfigId"
            introId="org.eclipse.ui.intro.universal">
         <presentation
               home-page-id="qroot">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/cmsisTutorial.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/liteSTUDIOTutorial.xml">
      </configExtension>
   </extension>
   <extension
		point="org.eclipse.ui.intro.configExtension">
   		<theme
            id="org.eclipse.ui.intro.universal.lite"
            name="%theme.name.lite"
            path="$nl$/themes/solstice"
            previewImage="$nl$/themes/solstice/preview.png"
            scalable="true">
            <property name="standardSupport"
            		value="html5"/>
            <property name="workbenchAsRootLink"
            		value="false"/>
            <property name="launchbarOverviewIcon"
            		  value="$theme$graphics/launchbar/overview16.png"/>
            <property name="launchbarFirststepsIcon"
            		  value="$theme$graphics/launchbar/firststeps16.png"/>
            <property name="launchbarTutorialsIcon"
            		  value="$theme$graphics/launchbar/tutorials16.png"/>
            <property name="launchbarSamplesIcon"
            		  value="$theme$graphics/launchbar/samples16.png"/>
            <property name="launchbarWhatsnewIcon"
            		  value="$theme$graphics/launchbar/whatsnew16.png"/>
            <property name="launchbarMigrateIcon"
            		  value="$theme$graphics/launchbar/migrate16.png"/>
            <property name="launchbarWebresourcesIcon"
            		  value="$theme$graphics/launchbar/webresources16.png"/>

            <property name="highContrast-overview"
            		  value="$theme$graphics/icons/ctool/overview.png"/>
            <property name="highContrast-firststeps"
            		  value="$theme$graphics/icons/ctool/firststeps.png"/>
            <property name="highContrast-tutorials"
            		  value="$theme$graphics/icons/ctool/tutorials.png"/>
            <property name="highContrast-samples"
            		  value="$theme$graphics/icons/ctool/samples.png"/>
            <property name="highContrast-whatsnew"
            		  value="$theme$graphics/icons/ctool/whatsnew.png"/>
            <property name="highContrast-webresources"
            		  value="$theme$graphics/icons/ctool/webresources.png"/>
            <property name="highContrast-migrate"
            		  value="$theme$graphics/icons/ctool/migrate.png"/>
            <property name="highContrast-workbench"
            		  value="$theme$graphics/icons/ctool/workbench.png"/>

            <property name="highContrastNav-overview"
            		  value="$theme$graphics/icons/ctool/ov_nav.png"/>
            <property name="highContrastNav-firststeps"
            		  value="$theme$graphics/icons/ctool/fs_nav.png"/>
            <property name="highContrastNav-tutorials"
            		  value="$theme$graphics/icons/ctool/tu_nav.png"/>
            <property name="highContrastNav-samples"
            		  value="$theme$graphics/icons/ctool/sa_nav.png"/>
            <property name="highContrastNav-whatsnew"
            		  value="$theme$graphics/icons/ctool/wn_nav.png"/>
            <property name="highContrastNav-webresources"
            		  value="$theme$graphics/icons/ctool/wr_nav.png"/>
            <property name="highContrastNav-migrate"
            		  value="$theme$graphics/icons/ctool/mi_nav.png"/>
            <property name="highContrastNav-workbench"
            		  value="$theme$graphics/icons/ctool/wb_nav.png"/>
		</theme>
     </extension>
</plugin>
