
a#orgeclipsecdtdocuserwelcome-introLink img { background-image : url(graphics/c_dev.png); }
a#orgeclipsecdtdocuserwelcome-introLink:hover img { background-image : url(graphics/c_dev_hov.png); }
a#cmsisdocuserwelcome-introLink img { background-image : url(graphics/lite_dev.png); }
a#cmsisdocuserwelcome-introLink:hover img { background-image : url(graphics/lite_dev_hov.png); }
a#litestudiodocuserwelcome-introLink img { background-image : url(graphics/lite_dev.png); }
a#litestudiodocuserwelcome-introLink:hover img { background-image : url(graphics/lite_dev_hov.png); }
