<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.lembed.lite.studio.rcp.branding.product"
         name="TrustSTUDIO"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="TrustSTUDIO">
            <property
                  name="appName"
                  value="TrustSTUDIO">
            </property>
            <property
                  name="cssTheme"
                  value="org.eclipse.e4.ui.css.theme.e4_default">
            </property>
            <property 
                  name="aboutImage"
                  value="icons/lt_about.png">
            </property>
            <property
                  name="aboutText"
                  value="TrustSTUDIO® Version: 1.0.3 &#x0A;&#x0A;&#x0A;&#x0A;(C) Copyright  Lembed Electronic Co., Ltd. 2016-2020. All rights reserved. http://www.lembed.com &#x0A;&#x0A;&#x0A;&#x0A;&#x0A;Eclipse and the Eclipse logo are trademarks of the Eclipse Foundation, Inc. Oracle and Java are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.">
            </property>
            <property
                  name="windowImages"
                  value="icons/png/lt_icon_16x16.png,icons/png/lt_icon_32x32.png,icons/png/lt_icon_48x48.png,icons/png/lt_icon_64x64.png,icons/png/lt_icon_128x128.png,icons/png/lt_icon_256x256.png">
            </property>
            <property
                  name="introTitle"
                  value="TrustSTUDIO">
            </property>
            <property
                  name="introBrandingImageText"
                  value="TrustSTUDIO">
            </property>
            <property
                  name="introBrandingImage"
                  value="product:icons/lite_logo.png">
            </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="TrustSTUDIO">
         <property
               name="windowImages"
               value="icons/png/lt_icon_16x16.png,icons/png/lt_icon_32x32.png,icons/png/lt_icon_48x48.png,icons/png/lt_icon_64x64.png,icons/png/lt_icon_128x128.png,icons/png/lt_icon_256x256.png">
         </property>
         <property
               name="aboutText"
               value="LiteSTUDIO® Version:  1.1.3&#x0A;&#x0A;&#x0A;&#x0A;(C) Copyright  Lembed Electronic Co., Ltd. 2016-2017. All rights reserved. http://www.lembed.com&#x0A;&#x0A;&#x0A;&#x0A;&#x0A;Eclipse and the Eclipse logo are trademarks of the Eclipse Foundation, Inc. Oracle and Java are trademarks or registered trademarks of Oracle and/or its affiliates. Other names may be trademarks of their respective owners.">
         </property>
         <property
               name="aboutImage"
               value="icons/lt_about.png">
         </property>
         <property
               name="appName"
               value="TrustSTUDIO">
         </property>
      </product>
   </extension>
</plugin>
